<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Máquinas</title>
</head>
<body>
    <h1>Lista de Máquinas</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de Entrada</th>
            <th>Estado</th>
        </tr>
        {% for maquina in maquinas %}
            <tr>
                <td>{{ maquina.nombre }}</td>
                <td>{{ maquina.descripcion }}</td>
                <td>{{ maquina.fecha_entrada }}</td>
                <td>{{ maquina.estado }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
